.go-btn {
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 3px 13px;
    border: none;
    border-radius: 0 8px 8px 0;
    background: white;
}

.go-btn:hover {
    background-color: #7dc0e5;
}

.show_links {
    animation-name: fadeIn;
    animation-duration: 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.form-select:focus {
    box-shadow: none !important;
}

.color-pick {

    width: 43px;
    height: 31px;
    border: 0;

}

.colorpick-eyedropper-input-trigger {
    display: none;
}