@import url('https://fonts.maateen.me/apona-lohit/font.css');

* {
    font-family: 'AponaLohit', sans-serif;

}

.label-reload {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}