#pButton {
    float: left;
}

#timeline {
    width: 90%;
    height: 2px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: white;
}

#pButton {
    margin-top: 12px;
    cursor: pointer;
}

#playhead {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: rgb(243, 5, 5);
    cursor: pointer;
}


.sura-details {
    margin-bottom: 0;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
    .sura-details {
        font-size: 14px;
    }

    .btn-next-pre {
        justify-content: center !important;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}