body {
  font-family: 'Share Tech', sans-serif !important;
}

.nav-p-bg {
  background-color: #090851;
}

.primary-bg {
  background: linear-gradient(172deg, #090851, #3a28da);
}

.primary-bg-50 {
  background: linear-gradient(172deg, #4937f3b3, #090851a5);
}



.tool-btn {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #566ad2 5%, #3e54b5 100%);
  background-color: #566ad2;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  width: 290px;

  font-family: share tech, Sans-serif;
  font-size: 29px;
  font-weight: 500;
  text-align: center;
  padding: 4px 13px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}

.tool-btn:hover {
  background: linear-gradient(to bottom, #3e54b5 5%, #566ad2 100%);
  background-color: #3e54b5;
  color: wheat;
}

.tool-btn:active {
  position: relative;
  top: 2px;
  left: 1px;
}


.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #201790;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: 3px solid #21189575;
  transition: 0.3s;
  transform: skew(-20deg);
  background-color: #e3e3e3;
}

.submit-btn:hover {
  transform: none;
}

.copy-btn {
  position: absolute;
  top: 56px;
  left: 18px;
  background-image: linear-gradient(to bottom, #0679c5, #0f5da1);
  border: navajowhite;
  color: white;
  border-radius: 4px;
  padding: 2px 7px;
}

.format-code {
  position: absolute;
  top: 66px;
  right: 18px;
  background-image: linear-gradient(to bottom, #161074b8, #0f5da1);
  border: navajowhite;
  color: white;
  border-radius: 4px;
  padding: 3px 12px;
}


a.gp-top {
  position: absolute;
  left: 29px;
  font-size: 36px;
}

code {
  font-family: 'Mitr';
}

.dropdown-menu {
  min-width: 4rem;
}

.form-control:focus {
  box-shadow: none !important;
}


.nav-bg-clr.d-block.d-sm-none.fixed-top.text-end {
  background: linear-gradient(172deg, #090851, #3a28da);
}

.chatBoat {
  position: fixed;
  bottom: -50px;
  left: -15px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.floating-btn {
  position: fixed;
  bottom: 41px;
  right: 24px;
  animation: floatAnimation 2s ease-in-out infinite;
}

@keyframes floatAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.chatContainer {
  padding: 16px;
  margin-bottom: 16px;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.search-input::placeholder {
  color: rgb(255, 255, 255) !important;
}


.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}